{% extends "app/base.html" %}
{% load static %}
{% block title %}About Us{% endblock title %}


{% block main-content %}

<div class="container card p-4">
    <h1>About Us</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque ipsum asperiores 
        sed et? Ullam deleniti cupiditate iusto eos soluta veniam nisi illum culpa sed similique 
        dicta accusantium facilis, labore corrupti!</p>
    <br>
    <h1>Mission</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo magnam aut recusandae ut, 
        fugit veniam quo officia quae beatae accusantium quidem porro ad necessitatibus excepturi quaerat 
        illum architecto quia inventore.</p>
    <br>
    <h1>Policies</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi corporis obcaecati, ipsam deleniti illo 
        laboriosam? Sint, tempore magni tenetur consequuntur aliquid, assumenda numquam voluptatibus expedita enim 
        provident minus quasi illum?</p>
</div>



{% endblock main-content %}