{% extends 'app/base.html' %}
{% load static %}
{% block title %}Category{% endblock title %}

{% block main-content %}
<div class="container my-5 gap-3">
  {% for i in c %}
  <h3 class="text-decoration-underline">Category: <span>{{i.title}}</span></h3>
  {% endfor %}

  <div class="d-flex  gap-3">
    {% for prod in product %}
    <div class="card mt-3  p-2 " style="width: 18rem;">
      <a href="{% url 'product-detail' prod.id %}" class="text-decoration-none text-dark">
        <img src="{{prod.product_image.url}}" class="card-img-top" alt="{{prod.title}}" width="auto" height="250px">
        <h5 class="card-title">{{prod.title}}</h5>
      </a>
        <div class="card-body">
            <small class="text-decoration-line-through">Price:{{prod.selling_price}}</small>
            <p class="card-text">Discount Price:{{prod.discount_price}}</p>
    </div>
    <div class="d-flex justify-content-end ">
      <a href="{% url 'add_to_wishlist' prod.id %}" class="btn">
        <button class="btn">
          {% if wishlist %}
          <span class="material-symbols-outlined" style="color: red;">favorite</span>
          {% else %}
          <span class="material-symbols-outlined">favorite</span>
          {% endif %}
        </button>
      </a> 
    </div>
  </div>
  {% endfor %}
</div>

</div>

{% endblock main-content %}