{% extends 'app/base.html' %}
{% load static %}
{% block title %}Cart{% endblock title %}

{% block main-content %}

<div class="container">
    {% if messages %}
    {% for msg in messages %}
    <div class="alert alert-danger " role="alert">
        {{msg}}
    </div>
    {% endfor %}
    {% endif %}
    <div class="row mt-5 ">
        <div class="col-sm-6 ">
            <h4 class="fw-bold ">Order Summary</h4>
            <hr>
            {% for msg in messages %}
                <div class="alert alert-{{msg.tags}}" role="alert">{{msg}}</div>
            {% endfor %}
            {% for item in cart_item %}
            <div class="card gap-3 " >
                <div class="card-body">
                    <div class="d-flex justify-content-between ">
                    <h5>{{item.product.title}}</h5>
                    <a class="btn " href="{% url 'remove_from_cart' item.id %}" >
                        <span class="material-symbols-outlined" style="font-size: 24px;">
                        delete
                        </span>
                    </a>
                    </div>
                    <div class="d-flex justify-content-between col-sm-2">
                        <img src="{{item.product.product_image.url}}" alt="{{item.product.title}}" width="100" height="100">
                        <p class="d-inline-block text-truncate" style="max-width: 200px;">{{item.product.description}}</p>
                    </div>
                    <div class="d-flex justify-content-between ">
                        <p>Quantity: <span class="fw-bold ">{{item.quantity}}</span></p>
                        <p>Price: <span class="fw-bold ">{{item.product.discount_price}}</span></p>
                    </div>
                </div>
                
            </div>
            {% endfor %}
            <p class="mt-3 ">Total Cost: <span class="fw-bold ">{{totalamount}}</span></p>
        </div>
        <div class="col-sm-4 offset-sm-1 ">
            <h4 class="fw-bold ">Select Shipping Address:</h4>
            <hr>
            <form method="post" id="myform" action="{% url 'orderplaced' %}" class="gap-3 ">
                {% csrf_token %}
                {% for ad in customer %}
                
                <div>
                    <div>
                        <div class="form-check">
                            <label class="form-check-label fw-bold  " for="custadd{{forloop.counter}}">Address:{{forloop.counter}} </label>
                            <input type="radio" class="form-check-input" name="custid" id="custadd{{forloop.counter}}" value="{{ad.id}}">
                        </div>
                    </div>
                    <div class="card shadow p-2  ">
                        <h5 class="text-decoration-underline text-capitalize">{{ad.name}}</h5>
                        <p>Mobile: {{ad.mobile}}</p>
                        <p>Address: {{ad.address}}, <br> {{ad.city}},<br> {{ad.state}} <br>{{ad.zipcode}}</p>
                    </div>
                </div>
                {% endfor %}
                <hr>
                <div class="form-check mb-3 ">
                    <p class="fw-bold text-center ">Total Amount:</p>
                    <input type="number" class="form-control " name="totalamount" value="{{totalamount}}" disabled>
                </div>
                <div class="d-flex justify-content-center gap-3  ">
                    <button type="submit" class="btn btn-primary mt-1 px-4">Payment <span class="">(Normal)</span></button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock main-content %}

{% block payment-gateway %}

<!-- <script>
    var options = {
    "key": "{{api_key}}",
    "name": "GoKart",
    "description": "Purchase Product",
    "order_id": "{{order_id}}", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "handler": function (response){
        console.log('success')
        var  form=document.getElementById('myform')
        // alert(response.razorpay_payment_id);
        // alert(response.razorpay_order_id);
        // alert(response.razorpay_signature)
        var orderId = response.razorpay_order_id;
        var paymentId = response.razorpay_payment_id;
        var custId = form.elements["cust_id"].value;

        var url = "http://localhost:8000/paymentdone/?" + 
                "order_id=" + encodeURIComponent(orderId) + 
                "&payment_id=" + encodeURIComponent(paymentId) + 
                "&cust_id=" + encodeURIComponent(custId);
            window.location.href = url;

        // window.location.href='http://localhost:8000/paymentdone?order_id=${response.razorpay_order_id}&payment_id=${response.razorpay_payment_id}&cust_id=${form.elements["cust_id"].value}'
    },
    "theme": {
        "color": "#3399cc"
    }
};
var rzp1 = new Razorpay(options);
rzp1.on('payment.failed',function(response){
    alert(response.error.description);
});
document.getElementById('rzp-button1').onclick=function(e){
    console.log('button click');
    rzp1.open();
    e.preventDefault();
}
</script> -->

{% endblock payment-gateway %}
