{% extends 'app/base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}


{% block banner-slider %}
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        {% for banner in banner %}
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %} aria-label="Slide {{ forloop.counter }}"></button>
        {% endfor %}
    </div>
    <div class="carousel-inner">
        {% for banner in banner %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <img src="{{ banner.banner_image.url }}" class="d-block mx-auto  w-75" width="1000" height="250" alt="{{ banner.title }}">
            </div>
        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<br>
{% endblock banner-slider %}


{% block main-content %}
<link rel="stylesheet" href="{% static 'app/css/home.css'%}">

<div class="container container1 card p-3 gap-3   ">
    <h3>View Items</h3>
    <div class="row gap-3 d-flex justify-content-center ">
        {% for product in product %}
        <div class="card shadow object-fit-contain " style="width: 18rem;">
            <div class="d-flex justify-content-end">
                <div>
                    <a href="{% url 'product-detail' product.id %}" class="btn ">
                        <span class="material-symbols-outlined">
                            visibility
                        </span>
                    </a>
                </div>
            </div>

            <div class="container1">
                <img src="{{product.product_image.url}}" class="card-img" alt="{{product.title}}" width="auto"
                    height="250px">
            </div>
            <div class="card-body">
                <h5 class="card-title">{{product.title}}</h5>
                <div>
                    <small class="text-decoration-line-through ">Price:{{product.selling_price}}</small>
                    <p class="card-text">Discount Price:{{product.discount_price}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<br>

<div class="container container1 card gap-3 p-3  ">
    <h3>Categories</h3>
    <div class="row d-flex justify-content-center gap-3 ">
        {% for category in category %}
        <div class="col-md-4 col-sm-4 mt-4  fadeInUp w-25 shadow">
            <div class="card object-fit-fill">
                <a href="{% url 'category' category.id %}" class="text-decoration-none text-dark ">
                    <div class="text-center">
                        <img class="card-img" src="{{category.category_image.url}}" alt="{{category.title}}" width="50" height="100">
                <h4 class="card-footer ">{{category.title}}</h4>
            </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

</div>


{% endblock main-content %}