<nav class="navbar navbar-expand-lg navbar-dark bg-success   h-auto">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">GoKart
            <!-- <img src="{% static 'app/images/Neel.png' %}" width="70" height="50"> -->
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">
                        <span class="material-symbols-outlined">home</span>
                        Home</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Products
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for i in category %}
                        <li><a class="dropdown-item" href="{% url 'category' i.id %}">{{i.title}}</a></li>
                        {% endfor %}
                    </ul>
            </ul>

            {% if request.user.is_authenticated %}
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown mx-2">
                    <a class="nav-link dropdown-toggle text-white " href="#" id="profileDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="material-symbols-outlined">
                            person
                        </span>
                        {{request.user|capfirst}}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="profileDropdown">
                        <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
                        <li><a class="dropdown-item" href="#">Orders</a></li>
                        <li><a class="dropdown-item" href="{% url 'password-change' %}">Change Password</a></li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}">logOut</a></li>
                    </ul>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Dropdown
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <li><a class="dropdown-item" href="#">Action</a></li>
                          <li><a class="dropdown-item" href="#">Another action</a></li>
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                      </li>
                <li class="nav-item mx-2 ">
                    <a href="{% url 'show-cart' %}" class="nav-link text-white ">
                        <span class="material-symbols-outlined">shopping_cart</span>
                        Cart <span class="badge bg-danger">{{totalitem}}</span></a>
                </li>
                <li class="nav-item mx-2 ">
                    <a href="{% url 'wishlist' %}" class="nav-link text-white ">
                        <span class="material-symbols-outlined">favorite</span>
                        WishList <span class="badge bg-danger ">{{totalitem1}}</span></a>
                </li>
                <li class="nav-item mx-2 ">
                    <a href="{% url 'logout' %}" class="nav-link text-white ">
                        Logout</a>
                </li>
                </ul>
                {%  else %}
                <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item mx-2 ">
                    <a href="{% url 'login' %}" class="nav-link text-white ">Login</a>
                </li>
                <li class="nav-item mx-2 ">
                    <a href="{% url 'customer-registration' %}" class="nav-link text-white ">Registration</a>
                </li>
                </li>
            </ul>
            {% endif %}
            {% if request.user.is_authenticated %}
            <div class="d-flex float-end">
                <div class="pt-3 d-flex justify-content-between ">
                    <form action="{% url 'search_results' %}" method="GET">
                        <input type="text" name="search" placeholder="Search..." class="form1">
                        <button type="submit" class="btn text-white ">Search</button>
                    </form>
                </div>
                
                <ul>
                    <li class="navbar-nav ">
                        <div class="checkbox-wrapper-17">
                            <input type="checkbox" id="switch-17" onclick="darkmode()" /><label for="switch-17"></label>
                          </div>
                    </li>
                </ul>
            </div>
            
            {% endif %}
        </div>
    </div>
</nav>