{% extends "app/base.html" %}
{% load static %}
{% block title %}Orders{% endblock title %}

{% block main-content %}

    <div class="container-fluid p-5 ">
        <h3 class="fw-bold ">My Orders</h3>

        <div class="row gap-3 ">
            {% for i in order %}

        <div class="card w-75 p-1 d-flex flex-row">
            <div class="col-sm-3">
                <img class="card-img" height="200"  src="{{i.product.product_image.url}}" alt="{{i.product.title}}"/>
            </div>
            <div class="card-body col-sm-2 p-4 ">
                <div class="d-flex justify-content-between ">
                    <h5 class="text-decoration-underline fw-bold text-capitalize">{{i.product.title}}</h5>
                    <button class="btn btn-success ">Status:<span class="fw-bold ">{{i.status}}</span></button>
                </div>
                <table>
                    <tr>
                        <td class="fw-bold ">Description:</td>
                        <td class="text-truncate" style="max-width: 500px;">{{i.product.description}}</td>
                    </tr>
                    <tr>
                        <td class="fw-bold ">Price:</td>
                        <td>{{i.product.selling_price}}</td>
                    </tr>
                    <tr>
                        <td class="fw-bold ">Quantity:</td>
                        <td>{{i.quantity}}</td>
                    </tr>
                    <tr>
                        <td class="fw-bold ">Address:</td>
                        <td class="text-capitalize  ">{{i.customer.name}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>{{i.customer.address}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>{{i.customer.city}}, {{i.customer.state}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>{{i.customer.zipcode}}</td>
                    </tr>
                    <tr>
                        <td class="fw-bold ">Mobile:</td>
                        <td>{{i.customer.mobile}}</td>
                    </tr>
                </table>
            </div>
        </div>
        {% endfor %}

    </div>
    </div>

{% endblock main-content %}
