{% extends "app/base.html" %}
{% load static %}
{% block title %}Password rest done{% endblock title %}


{% block main-content %}

<div class="container">
    <div class="ro">
        <div class="col-sm-6 offset-sm-3 text-center ">
            <h3 class="textsuccess fw-bold ">Success</h3>
            <p>An email has been sent <b>Please check Email</b></p>
            {% for i in email %}
            {{i.label_tag}}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock main-content %}