{% extends "app/base.html" %}
{% load static %}
{% block title %}Password rest done{% endblock title %}


{% block main-content %}

<div class="container">
    <div class="ro">
        <div class="col-sm-6 offset-sm-3 text-center ">
            <h3 class="textsuccess fw-bold ">Success</h3>
            <p>An email has been sent <b>Please check Email</b></p>
            
            <script>
                // Redirect to password reset confirmation page after a delay
                setTimeout(function() {
                    window.location.href = "{% url 'password_reset_confirm' uidb64='{{ uid }}' token='{{ token }}' %}";
                }, 3000); // 3000 milliseconds (3 seconds) delay, adjust as needed
            </script>
        </div>
    </div>
</div>

{% endblock main-content %}