{% extends "app/base.html" %}
{% load static %}
{% block title %}Wishlist{% endblock title %}

{% block main-content %}

<div class="container">
    <h1 class="text-center">My Wishlist</h1>
    <div class="row gap-3 mt-2  ">
        {% if wishlist_items %}
        {% for item in wishlist_items %}


        <div class="card p-4">
            <div class="d-flex justify-content-between">
                <a href="{% url 'product-detail' item.product.id %}" class="text-decoration-none text-dark  ">
                    <div>
                        <img src="{{ item.product.product_image.url }}" alt="{{ item.product.title }}" width="100px"
                            height="100px">
                    </div>
                    <div>
                        <p class="fw-bold " style="font-size: 20px;">{{ item.product.title }}</p>
                        <p class=" text-truncate " style="max-width: 300px;">{{item.product.description}}</p>
                    </div>
                    <div class="fst-italic fw-bold">
                        <span class="material-symbols-outlined">currency_rupee</span>{{item.product.discount_price}}
                    </div>
                </a>
                <div>
                    <a href="{% url 'remove_from_wishlist' item.id %}" class="btn btn-danger">
                        <span class="material-symbols-outlined">
                            delete
                        </span>
                    </a>
                </div>
            </div>
            
        </div>

        {% endfor %}
        {% else %}
        <p class="text-center ">Your wishlist is empty.</p>
        {% endif %}

    </div>


</div>

{% endblock main-content %}