{% extends "app/base.html" %}
{% load static %}
{% block title %}Wishlist{% endblock title %}

{% block main-content %}

<div class="container">
    <h1>My Wishlist</h1>
    <div class="row gap-3 ">
        {% if wishlist_items %}
        {% for item in wishlist_items %}
        <div class="card p-4 ">
          <div class=" d-flex justify-content-between  ">
            <img src="{{ item.product.product_image.url }}" alt="{{ item.product.title }}" width="100px" height="100px">
            <div>
                <p class="fw-bold ">{{ item.product.title }}</p>
                <p class="d-inline-block text-truncate " style="max-width: 300px;">{{item.product.description}}</p>
            </div>
            <p class="fst-italic ">
                <span class="material-symbols-outlined">
                    currency_rupee
                    </span>{{item.product.discount_price}}</p>
            </div>


           <div class="d-flex justify-content-center align-items-center ">
                <a href="{% url 'remove_from_wishlist' item.id %}" class="btn btn-danger w-25 ">Remove</a>
           </div> 
 
        </div>
        {% endfor %}
        {% else %}
        <p>Your wishlist is empty.</p>
        {% endif %}
        
    </div>
    
    
</div>

{% endblock main-content %}