{% extends "app/base.html" %}
{% load static %}
{% block title %}Registration{% endblock title %}

{% block main-content %}

<div class="container w-50">
  <div class="row my-3 ">
    <div class="col-sm-6 offset-sm-3">
      <div class="shadow p-5">
        <h3 class="text-center pb-3">Registration</h3>
        <div>
          {% if messages %}
          {% for msg in messages %}
          <div class="alert-{{msg.tags}} p-2" role="alert">{{msg}}</div>
          {% endfor %}
          {% endif %}
        </div>
        <form action="" method="post" novalidate class="p-1 ">
          {% csrf_token %}
          {% for i in form %}
          <div class="form-floating mb-1">
            {{ i }}
            <label for="floatingInput">{{i.label_tag}}</label>
          </div>
          
          <small class="text-danger ">{{i.errors|striptags}}</small>
          {% endfor %}
          <br>
          <div class="d-flex justify-content-center pb-3  ">
            <input type="submit" value="Register" class="btn btn-primary">
          </div>
          <div class="text-center text-primary fw-bold ">
            <small>Existing User? <a class="text-danger text-decoration-none gap-5" href="{% url 'login' %}" >Login</a></small>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


{% endblock main-content%}