{% extends "admin/admin-dashboard.html" %}
{% load static %}
{% block title %}Add Brand{% endblock title %}

{% block admin-section %}

<div class="container-fluid bg-white shadow p-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center fw-bold">Add Products</h2>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                
                <div class="mb-3">
                    <label for="title" class="form-label">Title:</label>
                    <input type="text" class="form-control" id="title" name="title">
                </div>
                
                <div class="mb-3">
                    <label for="selling_price" class="form-label">Selling Price:</label>
                    <input type="number" id="selling_price" name="selling_price" class="form-control">
                </div>

                <div class="mb-3">
                    <label for="discount_price" class="form-label">Discount Price:</label>
                    <input type="number" id="discount_price" name="discount_price" class="form-control">
                </div>

                <div class="mb-3"> 
                    <label for="description" class="form-label">Description:</label>
                    <textarea id="description" name="description" class="form-control"></textarea>
                </div>

                <div class="mb-3">
                    <label for="composition" class="form-label">Composition:</label>
                    <textarea id="composition" name="composition" class="form-control"></textarea>
                </div>

                <div class="mb-3">
                    <label for="category" class="form-label">Category:</label>
                    <select id="category" name="category" class="form-control">
                        {% for i in category %}
                            <option value="{{ i.id }}">{{ i.title }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="mb-3">
                    <label for="brand" class="form-label">Brand:</label>
                    <select id="brand" name="brand" class="form-control">
                        {% for i in brand %}
                            <option value="{{ i.id }}">{{ i.brand_name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="mb-3">
                    <label for="quantity" class="form-label">Quantity:</label>
                    <input type="number" id="quantity" name="quantity" class="form-control">
                </div>

                <div class="mb-3">
                    <label for="product_image" class="form-label">Product Image:</label>
                    <input type="file" id="product_image" name="product_image" class="form-control-file">
                </div>
                
                <div class="text-center">
                    <input type="submit" value="Add Banner" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container container1 card gap-3 mt-4  ">
    <h3 class="text-center ">Products</h3>
    <div class="row d-flex justify-content-start  gap-3 ">
        {% for i in product %}
        <div class="col-md-1 col-sm-2 mt-2  fadeInUp w-25 shadow">
            <div class="card object-fit-fill">
                <div class="text-center">
                    <img class="card-img" src="{{i.product_image.url}}" alt="{{i.title}}" width="50"
                        height="150">
                    <div class="card-footer d-flex justify-content-between  ">
                        <h4>{{i.title}}</h4> 
                        <form action="{% url 'delete_product' i.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock admin-section %}